%h3
  = t('.title')
= link_to t('.create'), new_rank_path, class: "btn btn-danger new-item"

%table.table.table-bordered.table-striped.responsive.no-wrap#ranks-table{"data-source" => ranks_path(format: "json")}
  %thead
    %tr
      %th
        = t('.name')
      %th
        = t('.actions')