body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-fixed-bottom {
  line-height: 50px;, html: { class: "form-horizontal"}
}

.panel-body {
  padding-top:30px
}

.input-group.space-below {
  margin-bottom: 25px;
}

.devise-links {
  border-top: 1px solid#888; padding-top:15px;
}