body {
  min-height: 2000px;
  padding-top: 70px;
}

.sorting, .sorting_asc, .sorting_desc {
  background: none !important;
}

.navbar-fixed-bottom {
  line-height: 50px;
}

.panel-body {
  padding-top: 30px;
}

.input-group.space-below {
  margin-bottom: 25px;
}

.devise-links {
  border-top: 1px solid#888; padding-top:15px;
}

.no-padding > [class*='col-'] {
  padding-left:0;
}

.sidebar {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar ul li.active a{
  color: #fff;
  background-color: #08c;
}

.sidebar ul li a {
  display: block;
  text-decoration: none;
  color: #08c;
}

.sidebar ul li a:hover {
  background-color: #eee;
}

.sidebar ul li.active a:hover {
  color: #fff;
  background-color: #08c;
}

.new-item {
  margin-bottom: 15px;
}
