.sidebar
  %ul
    = render_menu_item(locations_path, t('locations.index.title'))
    = render_menu_item(skill_categories_path, t('skill_categories.index.title'))
    = render_menu_item(teams_path, t('teams.index.title'))
    = render_menu_item(roles_path, t('roles.index.title'))
